body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background: url(img/Component\ 19.png);

  color: white;
  padding: 20px;
  height: 575px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav2 {
  position: relative;
  top: -250px;
}

.header .logo {
  font-family: Jost;
  font-size: 40px;
  font-weight: 700;
  line-height: 57.8px;
  text-align: center;

  top: -250px;
  left: 50px;
  position: relative;
}

.header .nav {
  display: flex;
  gap: 15px;
  font-size: 20px;
  position: relative;
  top: -250px;
  text-align: center;
  align-items: center;
  right: 0px;
}

.header .nav a {
  color: white;
  text-decoration: none;
  padding: 16px 22px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 32px;
}

.header .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .user-info span {
  font-size: 14px;
}

.profile-container {
  position: relative;
  /* width: 00px; */
  padding: 30px;
  text-align: center;
}

.profile-card {
  position: absolute;
  top: -350px;
  left: 100px;
  width: 308px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.profile-card img {
  width: 100%;
  top: 25px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 15px;
}

.profile-card .info {
  margin-bottom: 15px;
  top: 10px;
  position: relative;
}

.profile-card .info p {
  margin: 5px 0;
  font-size:14px;
}

.profile-card .btn {
  display: block;
  width: 100%;
  padding: 10px;
  top: 0px;
  position: relative;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: 1px solid black;
  background: linear-gradient(
    89.45deg,
    #05ad25 0.48%,
    #0294a1 73.77%,
    #181381 147.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.proffoto {
  top: -5px;
  position: relative;
  margin-right: 10px;
}
.qwe12 {
  margin-right: 10px;
}

.btnrgb {
  top: 0px;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;

  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    89.45deg,
    #05ad25 0.48%,
    #0294a1 73.77%,
    #181381 147.06%
  );
}

.profile-name {
  width: 709px;
  height: 370px;
  top: 100px;
  left: 556px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  font-family: Jost;
  font-size: 128px;
  font-weight: 700;
  line-height: 184.96px;
  text-align: left;
  position: relative;
  top: -400px;
  color: white;
}



.tabs button {
  width: 208px;
  height: 56px;
  text-align: center;
  gap: 0px;
  border-radius: 25px;
  opacity: 0px;
  background-color: white;
  color: #038b89;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  left: -40px;
  position: relative;
  line-height: 34.15px;
  transition: 0.5s ease;
  text-align: left;
}

.tabs2 button {
  width: 208px;
  height: 56px;
  text-align: center;
  top: -400px;
  position: relative;
  gap: 0px;
  border-radius: 25px;
  opacity: 0px;
  background-color: white;
  color: #038b89;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  left: 475px;
  position: relative;
  line-height: 34.15px;
  text-align: left;
  transition: 0.5s ease;
}

.tabs button:hover {
  background-color: #dfdfdf;
  transition: 0.5s ease;
}
.tabs2 button:hover {
  background-color: #dfdfdf;
  transition: 0.5s ease;
}

.content {
  left: 650px;
  position: relative;
  text-align: center;
  padding: 50px 0;
  font-size: 24px;
  top: -450px;
  font-family: Manrope;
  width: 500px;
  font-size: 50px;
  font-weight: 500;
  line-height: 68.3px;
  text-align: center;
  color: #038ba8;
}

.form-container {
    display: grid;
    position: relative;
    max-width: 400px;
    left: 450px;
    place-items: center;
    margin-top: 50px; 
  }
  
  .form-container input {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: #e9e9e9;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  .vxbxbvc{
    filter: invert(1);
    width: 25px;
    top: 4px;
    position: relative;
    height: 25px;
  }
  .qryt{
    position: relative;
    top: 4px;
  }
  .nnnn{
    position: relative;
    max-width: 50px;
    height: 50px;
    left: 250px;
    margin-top: -40px;
  }
  .chel{
    position: relative;
    top: -150px
  }
  .mayak{
    left: -162px;
    margin-top: -50px;
    width: 15px;
    top: 50px;
    height: 22px;
    position: relative;
    display: flex;
        
  }
  .adf{
    left: 10px;
    top: 0px;
    position: relative;
  }
  .rrr{
    max-width: 22px;
    height: 22px;
    left: -17px;
  }
  .ppp{
    top: -17px;
    left: 15px;
    position: relative;
  }
  .vbvb{
    display: flex;
    position: relative;
    margin-top: -65px;
    left: 70px;
    max-width: 25px;
    height: 20px;
  }
  .z123zxc{
position: relative;
display: flex;
top: -7px;
left: 100px;
  }